@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.invisible {
  display: none;
  visibility: hidden;
}

.calculator {
  display: flex;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  gap: 2rem;
  background-color: white;
  border-radius: 1.5rem;
  color: hsl(186, 14%, 43%);
  font-size: 11px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 13.5rem;
}

.billAmountSection,
.tipPercentageSection,
.peopleSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.enterBill,
.enterPeople,
.resetBtn {
  width: 13.5rem;
  height: 2rem;
  background-color: hsl(185, 41%, 84%);
  border: none;
  border-radius: 0.25rem;
  outline-color: hsl(172, 67%, 45%);
  font-family: "Space Mono", monospace;
  padding: 0rem 1rem 0rem 1rem;
  text-align: right;
}

.btnsHolder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.btn {
  width: 4rem;
  height: 2rem;
  background-color: hsl(183, 100%, 15%);
  border: none;
  text-align: center;
  border-radius: 0.25rem;
  color: hsl(189, 41%, 97%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 14px;
}

.error {
  display: flex;
  justify-content: space-between;
}

.custom {
  background-color: hsl(185, 41%, 84%);
  color: hsl(186, 14%, 43%);
}

.amountsHolder {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right {
  row-gap: 6rem;
  padding: 2rem;
  background-color: hsl(183, 100%, 15%);
  max-width: 18rem;
  border-radius: 1rem;
}

.amount {
  color: hsl(172, 67%, 45%);
  font-size: 28px;
}

.tipPerPerson,
.totalPerPerson {
  display: flex;
  justify-content: space-between;
  width: 13.5rem;
}

.az p {
  font-size: 15px;
  color: hsl(189, 41%, 97%);
}

.resetBtn {
  background-color: hsl(172, 67%, 45%);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: hsl(183, 100%, 15%);
}

.resetBtn:hover {
  background-color: hsl(185, 41%, 84%);
}

.defuse {
  background-color: hsl(186, 14%, 43%);
}

.defuse :hover {
  background-color: hsl(186, 14%, 43%);
}

.input-label {
  position: relative;
  display: inline-block;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ignore mouse events on the SVG */
  width: 20px;
  height: 20px;
  color: hsl(186, 14%, 43%);
}

.input-field {
  height: 36px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline-color: hsl(172, 67%, 45%);
  text-align: right;
  padding-right: 1rem;
  font-family: "Space Mono", monospace;
}

.er {
  color: red;
  outline-color: red;
}

.btn:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.active:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

@media (max-width: 600px) {
  .calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 2rem;
  }

  .left,
  .right {
    gap: 1rem;
    min-width: 13.5rem;
  }
  .btn {
    width: 6.5rem;
  }
  .right {
    row-gap: 1.5rem;
    padding: 1.5rem;
    background-color: hsl(183, 100%, 15%);
    border-radius: 1rem;
  }
}
